@model List<Blog.Models.articles>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/Content/js/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="/Content/css/UserSet.css">
    <link rel="stylesheet" href="/Content/css/bootstrap.min.css">
</head>
<body>
    <!-- 菜单 -->
    <div class="nav">
        <div class="navImg">
            <img src="/Content/Image/logo-210x70-m.png" alt="" onclick="location.href='/Home/Index'">
        </div>
        <div class="nav_info">
            <ui>
                <li><a href="/ReleaseArticle/Index"><i></i>写文章</a></li>
                <li><a href=""><img src="@ViewBag.userInfo.img" alt="" class="handImg"></a></li>
                <li style="padding: 0px" class="MyName">
                    <a href="">@ViewBag.userInfo.name</a>
                    <div class="UserMove">
                        <ul>
                            <li><a href="/Space/UserSet">个人设置</a></li>
                            <li><a href="/Home/LogOut">退出账号</a></li>
                        </ul>
                    </div>
                </li>
            </ui>
        </div>
        <div class="clear"></div>
    </div>
    <!-- 空间图片区域 -->
    <div class="ImgBox">
        <img src="@ViewBag.userInfo.cover" alt="">
        <div class="ImgBox_UInfo">
            <ul>
                <li><img src="@ViewBag.userInfo.img" alt=""></li>
                <li class="ImgBox_UInfo_Name">@ViewBag.userInfo.name</li>
                <li class="ImgBox_UInfo_Text">@ViewBag.userInfo.sign</li>
            </ul>
        </div>
    </div>
    <div class="Content">
        <div class="SetNav">
            <div class="UserSet">
                <p><i></i>用户设置</p>
                <div class="SetList">
                    <ul>
                        <li class="UpInfo">基本信息设置</li>
                        <li class="UpPwd">修改密码</li>
                    </ul>
                </div>
            </div>
            <div class="BlogSet">
                <p><i></i>博客管理</p>
                <div class="SetList">
                    <ul>
                        <li onclick="location.href='/Space/Article'">文章管理</li>
                        <li onclick="location.href='/Space/Drafts'">草稿箱</li>
                        <li onclick="location.href='/Space/Collects'">收藏夹</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="SetContent">
            <div class="ArticleAS">
                <p style="font-size: 18px;padding: 20px 25px;color: rgb(100, 100, 100);">草稿箱</p>
                <hr>
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">全部草稿（共@(ViewBag.CSum)篇）</div>
                    <table class="table" style="text-align: center;">
                        <tr>
                            <td style="font-weight: bold;">ID</td>
                            <td style="font-weight: bold;">草稿标题</td>
                            <td style="font-weight: bold;">创建时间</td>
                            <td style="font-weight: bold;">操作</td>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.aid</td>
                                <td><a href="/Space/DoDrafts/@item.aid">@item.title</a></td>
                                <td>@item.created_at</td>
                                <td>
                                    <a href="/Space/DoDrafts/@item.aid" class="link_del">完善</a>
                                    <input type="hidden" class="aid" name="aid" value="@item.aid" />
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                <nav aria-label="Page navigation" style="text-align: center;">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        @for (int i = 0; i < ViewBag.PageCount; i++)
                        {
                            <li><a href="/Space/Drafts/@i">@(i+1)</a></li>
                        }
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <script>
        $(".MyName").mousemove(function () {
            $(".UserMove").css("display", "block")
        })
        $(".MyName").mouseout(function () {
            $(".UserMove").css("display", "none")
        })
        $(".UserMove").mouseout(function () {
            $(this).css("display", "none")
        })

        $(".UpPwd").click(function () {
            $.ajax({
                url: "/Space/UPPwd",
                type: "GET",
                data: {

                },
                success: function (data) {
                    $(".SetContent").html(data)
                },
                error: function () {
                    alert('请求错误')
                }
            })
        })
        $(".UpInfo").click(function () {
            $.ajax({
                url: "/Space/UpInfo",
                type: "GET",
                data: {

                },
                success: function (data) {
                    $(".SetContent").html(data)
                },
                error: function () {
                    alert('请求错误')
                }
            })
        })
    </script>
</body>
</html>