<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>空间</title>
    <link rel="stylesheet" href="../css/Space.css">
    <link rel="stylesheet" href="/Content/css/Space.css">
    <script src="~/Content/js/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="/Content/css/bootstrap.min.css">

</head>
<body>
    <!-- 菜单 -->
    <div class="nav">
        <div class="navImg">
            <img src="/Content/Image/logo-210x70-m.png" alt="" onclick="location.href='/Home/Index'">
        </div>
        <div class="nav_info">
            <ui>
                <li><a href="/Release/Index"><i></i>写文章</a></li>
                <li><a href="/Space/Index"><img src="@ViewBag.userInfo.img" alt="" class="handImg"></a></li>
                <li style="padding: 0px" class="MyName">
                    <a href="">@ViewBag.userInfo.name</a>
                    <div class="UserMove">
                        <ul>
                            <li><a href="/Space/UserSet">个人设置</a></li>
                            <li><a href="/Home/LogOut">退出账号</a></li>
                        </ul>
                    </div>
                </li>
            </ui>
        </div>
        <div class="clear"></div>
    </div>
    <!-- 空间图片区域 -->
    <div class="ImgBox">
        <img src="@ViewBag.userInfo.cover" alt="">
        <div class="ImgBox_UInfo">
            <ul>
                <li><img src="@ViewBag.userInfo.img" alt=""></li>
                <li class="ImgBox_UInfo_Name">@ViewBag.userInfo.name</li>
                <li class="ImgBox_UInfo_Text">@ViewBag.userInfo.sign</li>
            </ul>
        </div>
    </div>
    <!-- 内容区域 -->
    <div class="Content">
        <div class="ContentNavBox">
            <div class="ContentNav">
                <ul>
                    <li class="ContentFirstItem"><a href="">他的文章</a></li>
                </ul>
            </div>
            <!-- 单个文章 -->
            @foreach (var item in ViewBag.userArticle as List<Blog.Models.articles>)
            {
                <div class="ContentList">
                    <div class="UserInfo">
                        <a href=""><img src="@item.users.img" alt=""></a>
                        <a href="" class="ContentTitle">@item.title</a>
                    </div>
                    <div class="ContentText">
                        @item.text
                    </div>
                    <div class="ContentType">
                        <i></i>
                        @* 对标签字段进行处理 *@
                        @{
                            string lables = item.lable;
                            string[] labs = lables.Split(',');
                            List<string> list = labs.ToList();
                            int length = labs.Length;
                            list.RemoveAt(length - 1);
                        }
                        @foreach (var lable in list)
                        {
                            <span>@lable</span>
                        }
                    </div>
                    <div class="ContentInfo">
                        <a href="">@item.users.name</a>
                        <span class="ContentTime">发布于<span>@item.created_at</span></span>
                        <span class="CommenNum">评论<span>520</span></span>
                        <span class="GoodNum">点赞<span>520</span></span>
                    </div>
                    <input type="button" value="阅读文章" class="LookContent">
                </div>
            }
            <nav aria-label="Page navigation" style="text-align: center;">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    @for (int i = 0; i < ViewBag.PageCount; i++)
                    {
                        <li><a href="/Space/Index/@i">@(i + 1)</a></li>
                    }
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="ContentRight">
            <div class="HotType">
                <div class="HotTitle">
                    <h3>擅长标签</h3>
                </div>
                <div class="TypeBox">
                    @foreach (var item in ViewBag.UTypes)
                    {
                        <a href="">@item</a>
                    }
                </div>
            </div>
            <div class="HotArticles">
                <div class="HotTitle">
                    <h3>热门文章</h3>
                </div>
                <div class="ArticlesList">
                    @foreach (var item in ViewBag.userTopArticle)
                    {
                        <!-- 单篇文章 -->
                        <a href="">
                            <h3>@item.title</h3>
                            @* 对文章内容显示进行限制 *@
                            @{
                                string text = @item.text;
                                if (text.Length >= 50)
                                    text = text.Substring(0, 50) + "...";
                            }
                            <span>@text</span>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
    <script>
        $(".MyName").mousemove(function () {
            $(".UserMove").css("display", "block")
        })
        $(".MyName").mouseout(function () {
            $(".UserMove").css("display", "none")
        })
        $(".UserMove").mouseout(function () {
            $(this).css("display", "none")
        })
    </script>
</body>
</html>