@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Content/bootstrap.css">
    <link rel="stylesheet" href="/Content/bootstrap-grid.css">
    <script src="~/Content/js/jquery-3.1.1.min.js"></script>
    <script src="~/Content/lib/layui/layui.js" charset="utf-8"></script>
    <script src="~/Content/js/xadmin.js"></script>
    <link rel="stylesheet" href="/Content/css/index.css">
    <script type="text/javascript" src="~/Content/js/xadmin.js"></script>
    <style>
        .middle {
            width: 90%;
            margin: 0 auto;
        }

        .recomment, .recommentBtn {
            display: none;
        }
    </style>

</head>
<body>

    <nav class="navbar navbar-default" style="border: none;background-color: #fff;">
        <div class="middle">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="" href="#"><img src="/Content/Image/logo-210x70.png" alt=""></a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <div class="nav_info">
                        <ui>
                            @if (Session["userInfo"] == null)
                            {
                                <li><a href="/Login/Login"><i></i>写文章</a></li>
                                <li><a href="/Login/Login">登录</a></li>
                                <li><a href="/Login/Register">注册</a></li>
                            }
                            else
                            {
                                <li><a href="/ReleaseArticle/Index"><i></i>写文章</a></li>
                                <li><a href="/Space/Index"><img src="@ViewBag.img" alt="" class="handImg"></a></li>
                                <li style="padding: 0px" class="MyName">
                                    <a href="/Space/Index">@ViewBag.name</a>
                                    <div class="UserMove">
                                        <ul>
                                            <li><a href="/Space/UserSet">个人设置</a></li>
                                            <li><a href="/Home/Drafts">草稿箱</a>
                                            <li><a href="/Home/LogOut">退出账号</a></li>
                                        </ul>
                                    </div>
                                </li>
                            }
                        </ui>
                    </div>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
    <div id="header" style="background-color:rgb(240, 240, 240);padding: 5px;border: 1px solid #ccc;">
        <div class="middle">
            <h1>@Model.title</h1>
            <!-- 标签 -->
            <h4><span class="label label-default" style="background-color:blue">@Model.lable</span></h4>
            <span>@ViewBag.User</span>&nbsp;<span style="color: #808080;">发布于 @Model.created_at</span>&nbsp;<span style="color: #808080;">阅读数 </span>
        </div>
    </div>
   
    <div id="content" style="position: relative;">

        <div class="middle">
            <div class="page-header">
                <h1>内容</h1>
            </div>
            <p>
                @Html.Raw(Model.content)
            </p>

            @using (Html.BeginForm("Collocts", "Home"))
            {
                <input type="hidden" id="aid" name="aid" value="@Model.aid" />
                <button type="submit" class="btn btn-info" style="position: absolute; left: 47.5%;">
                    收藏 @ViewBag.colloctCount
                </button>
            }
            @using (Html.BeginForm("Like", "Home"))
            {
                <input type="hidden" id="aid" name="aid" value="@Model.aid" />
                <button type="submit" class="btn btn-success" style="position: absolute; left: 52.5%;"> 推荐 @ViewBag.LikeCount</button>
            }

            <a onclick="xadmin.open('举报','/Home/Informs/@Model.aid')" style="float:right">举报文章</a>
        </div>
    </div>

    <div id="pinglun">

        <div class="middle">
            <div class="page-header">
                <h2>编写评论</h2>
            </div>
            <form action="/Home/pinglun" method="post">
                <div style="padding: 30px; background-color: rgb(240, 240, 240);border: 1px solid #ccc; ">
                    <textarea class="form-control" rows="3" name="content"></textarea>
                    <input type="hidden" id="aid" name="aid" value="@Model.aid" />
                    <input type="hidden" id="uid" name="uid" value="Session["userInfo"]" />
                    <button type="submit" class="btn btn-info" style="margin-top: 10px;">发表评论</button>
                </div>
            </form>

        </div>
    </div>
    <div id="pinglun">
        <div class="middle">
            <div class="page-header">
                <h2>评论列表</h2>
            </div>
            <div style="padding: 30px; background-color: rgb(240, 240, 240);border: 1px solid #ccc;">
                <ul class="media-list">
                    @foreach (var item in ViewBag.CommentList as List<Blog.Models.comments>)
                    {
                        <li class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="@item.users.img" alt="..." style="height: 50px;width: 50px;border-radius: 5%;">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading" style="margin-top:5px">@item.users.name</h4>
                                <h5 style="color:#ccc">@item.created_at</h5>
                            </div>
                            <div>
                                @item.content
                            </div>
                            <div>
                                @*<input type="button" value="评论" class="pinglun" />*@<a href="">赞</a>&nbsp;&nbsp;<a href="">举报</a>
                            </div>
                            <input type="text" name="recomment" value="" class="recomment" />
                            <input type="button" value="回复" class="recommentBtn" />
                            <ul class="media-list" style="margin-left:50px">
                            </ul>
                        </li>
                    }
                </ul>
            </div>

        </div>
    </div>
    <script>
        $(".pinglun").click(function () {
            $("li").each(function () {
                $(".recomment").css("display", "block");
                $(".recommentBtn").css("display", "block")
            });
        })
    </script>
</body>

</html>
